@model Blog
@section FullWidthImage {
    <img src="@Url.Content(Model.BlogImage)" alt="" class="w-full h-80 object-cover object-top">
}

<div class="max-w-4xl mx-auto px-4 py-8 mt-12">

    <h1 class="text-3xl font-bold text-gray-800 mb-6">@Model.Title</h1>

    <!-- Giriş -->
    <p class="text-gray-700 text-lg mb-6">
        @Model.Description
    </p>
</div>
