<div class="text-center mt-10">
    <h2 class="text-[33px] text-black mb-3">Career Insights and Business Trends</h2>
    <span>Explore valuable tips on career growth, hiring strategies, and financial planning. Stay ahead with insights
        tailored for professionals and job seekers alike.</span>
</div>
<div class="divider my-[35px]"></div>



<div class="flex flex-row gap-6 items-stretch my-[55px]">
    <div class="w-1/2">

        <div class="flex flex-col w-full gap-6">
            <div class="h-full">
                <div class="flex flex-row gap-6 h-full">
                    <a asp-controller="Blogs" asp-action="Details">
                        <div class="card bg-base-100 image-full w-full shadow-xl flex flex-col h-80">
                            <figure class="flex-shrink-0">
                                <img src="~/img/Job/1.webp" alt="Shoes" />
                            </figure>
                            <div class="card-body mt-auto">
                                <h2 class="font-medium">Understanding Risk Management</h2>
                            </div>
                        </div>
                    </a>
                    <a asp-controller="Blogs" asp-action="Details">
                        <div class="card bg-base-100 image-full w-full shadow-xl flex flex-col h-80">
                            <figure class="flex-shrink-0">
                                <img src="~/img/Job/1.webp" alt="Shoes" />
                            </figure>
                            <div class="card-body mt-auto">
                                <h2 class="font-medium">Building Stronger Teams with Training Specialists</h2>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="h-full">
                <a asp-controller="Blogs" asp-action="Details">
                    <div class="card bg-base-100 image-full w-full h-40 shadow-xl flex flex-col">
                        <figure class="flex-shrink-0">
                            <img src="~/img/Job/1.webp" alt="Shoes" class="w-full" />
                        </figure>
                        <div class="card-body mt-auto">
                            <h2 class="font-medium">Exploring the World of Data Science</h2>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="w-1/2">
        <a asp-controller="Blogs" asp-action="Details">
            <div class="card bg-base-100 image-full shadow-xl h-full flex flex-col">
                <figure class="flex-shrink-0">
                    <img src="~/img/Job/1.webp" alt="Shoes" class="w-full h-auto" />
                </figure>
                <div class="card-body mt-auto">
                    <h2 class="font-medium">The Role of a DevOps Engineer</h2>
                </div>
            </div>
        </a>
    </div>
</div>





<div class="mt-[110px]">
    <div class="text-center">
        <h2 class="text-[33px] text-black">New Blogs</h2>
        <div class="divider w-[330px] mx-auto before:bg-black after:bg-black"></div>
    </div>

    <div class="grid xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2 gap-6 my-[55px]">

        <a href="#" class="shadow-lg rounded-md p-5 flex flex-col h-full">
            <div class="relative mb-3">
                <img src="~/img/Job/1.webp" alt="" class="rounded-md">
                <span
                    class="absolute text-sm font-medium bottom-0 left-0 text-white px-3 py-[3px] bg-black bg-opacity-50 w-full text-center rounded-b-md">
                    Software Engineering
                </span>
            </div>
            <div class="mb-5">
                <h5 class="font-medium text-[14px]">What Does a Web Developer Do?</h5>
            </div>
            <div class="flex justify-between mt-auto">
                <span href="#" class="text-[14px]">Read Article </span>
                <span class="text-xs text-gray-500">14.09.2024</span>
            </div>
        </a>

        <a href="#" class="shadow-lg rounded-md p-5 flex flex-col h-full">
            <div class="relative mb-3">
                <img src="~/img/Job/1.webp" alt="" class="rounded-md">
                <span
                    class="absolute text-sm font-medium bottom-0 left-0 text-white px-3 py-[3px] bg-black bg-opacity-50 w-full text-center rounded-b-md">
                    Software Engineering
                </span>
            </div>
            <div class="mb-5">
                <h5 class="font-medium text-[14px]">What Does a Database Admin Do?</h5>
            </div>
            <div class="flex justify-between mt-auto">
                <span href="#" class="text-[14px]">Read Article </span>
                <span class="text-xs text-gray-500">20.12.2024</span>
            </div>
        </a>

        <a href="#" class="shadow-lg rounded-md p-5 flex flex-col h-full">
            <div class="relative mb-3">
                <img src="~/img/Job/1.webp" alt="" class="rounded-md">
                <span
                    class="absolute text-sm font-medium bottom-0 left-0 text-white px-3 py-[3px] bg-black bg-opacity-50 w-full text-center rounded-b-md">
                    Software Engineering
                </span>
            </div>
            <div class="mb-5">
                <h5 class="font-medium text-[14px]">What Does a Digital Marketer Do?</h5>
            </div>
            <div class="flex justify-between mt-auto">
                <span href="#" class="text-[14px]">Read Article </span>
                <span class="text-xs text-gray-500">18.06.2024</span>
            </div>
        </a>

        <a href="#" class="shadow-lg rounded-md p-5 flex flex-col h-full">
            <div class="relative mb-3">
                <img src="~/img/Job/1.webp" alt="" class="rounded-md">
                <span
                    class="absolute text-sm font-medium bottom-0 left-0 text-white px-3 py-[3px] bg-black bg-opacity-50 w-full text-center rounded-b-md">
                    Software Engineering
                </span>
            </div>
            <div class="mb-5">
                <h5 class="font-medium text-[14px]">What Does a Full-Stack Developer Do?</h5>
            </div>
            <div class="flex justify-between mt-auto">
                <span href="#" class="text-[14px]">Read Article </span>
                <span class="text-xs text-gray-500">25.01.2024</span>
            </div>
        </a>

        <a href="#" class="shadow-lg rounded-md p-5 flex flex-col h-full">
            <div class="relative mb-3">
                <img src="~/img/Job/1.webp" alt="" class="rounded-md">
                <span
                    class="absolute text-sm font-medium bottom-0 left-0 text-white px-3 py-[3px] bg-black bg-opacity-50 w-full text-center rounded-b-md">
                    Finance
                </span>
            </div>
            <div class="mb-5">
                <h5 class="font-medium text-[14px]">What Does a Financial Analyst Do?</h5>
            </div>
            <div class="flex justify-between mt-auto">
                <span href="#" class="text-[14px]">Read Article </span>
                <span class="text-xs text-gray-500">14.09.2024</span>
            </div>
        </a>

        <a href="#" class="shadow-lg rounded-md p-5 flex flex-col h-full">
            <div class="relative mb-3">
                <img src="~/img/Job/1.webp" alt="" class="rounded-md">
                <span
                    class="absolute text-sm font-medium bottom-0 left-0 text-white px-3 py-[3px] bg-black bg-opacity-50 w-full text-center rounded-b-md">
                    Finance
                </span>
            </div>
            <div class="mb-5">
                <h5 class="font-medium text-[14px]">What Does an HR Specialist Do?</h5>
            </div>
            <div class="flex justify-between mt-auto">
                <span href="#" class="text-[14px]">Read Article </span>
                <span class="text-xs text-gray-500">14.09.2024</span>
            </div>
        </a>

        <a href="#" class="shadow-lg rounded-md p-5 flex flex-col h-full">
            <div class="relative mb-3">
                <img src="~/img/Job/1.webp" alt="" class="rounded-md">
                <span
                    class="absolute text-sm font-medium bottom-0 left-0 text-white px-3 py-[3px] bg-black bg-opacity-50 w-full text-center rounded-b-md">
                    Human Resources
                </span>
            </div>
            <div class="mb-5">
                <h5 class="font-medium text-[14px]">What Does a Recruiter Do?</h5>
            </div>
            <div class="flex justify-between mt-auto">
                <span href="#" class="text-[14px]">Read Article </span>
                <span class="text-xs text-gray-500">14.09.2024</span>
            </div>
        </a>

        <a href="#" class="shadow-lg rounded-md p-5 flex flex-col h-full">
            <div class="relative mb-3">
                <img src="~/img/Job/1.webp" alt="" class="rounded-md">
                <span
                    class="absolute text-sm font-medium bottom-0 left-0 text-white px-3 py-[3px] bg-black bg-opacity-50 w-full text-center rounded-b-md">
                    Human Resources
                </span>
            </div>
            <div class="mb-5">
                <h5 class="font-medium text-[14px]">What Does a Web Developer Do?</h5>
            </div>
            <div class="flex justify-between mt-auto">
                <span href="#" class="text-[14px]">Read Article </span>
                <span class="text-xs text-gray-500">14.09.2024</span>
            </div>
        </a>

    </div>
</div>
