@model Employer

<div class="flex justify-between items-center mt-5">
  <h2>Add Employer</h2>
  <a asp-controller="AdminEmployers" asp-action="Index"
    class="btn bg-[#230939] hover:bg-[#230939] text-white hover:text-white">Back to Employers</a>
</div>

<div class="divider my-5"></div>

<form asp-controller="AdminEmployers" asp-action="Create" method="post" enctype="multipart/form-data" class="mb-20">
  <div class="mt-5 w-[50%] mx-auto space-y-4">

    <label class="form-control">
      <div class="label">
        <span class="label-text">
          <span class="label-text">Company Name</span>
        </span>
      </div>
      <input asp-for="CompanyName" type="text" placeholder="Company Name" class="input input-bordered" />
    </label>
    <span asp-validation-for="CompanyName" class="text-red-500 text-sm"></span>

    <button type="submit" class="btn bg-[#230939] hover:bg-[#230939] text-white hover:text-white my-4 w-full">Add
      Employer</button>
  </div>
</form>
