<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BusinessApp</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.22/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="container mx-auto px-10">
        <div class="navbar">
            <div class=" navbar-start">
                <div class="dropdown">
                    <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h8m-8 6h16" />
                        </svg>
                    </div>
                    <ul tabindex="0" class="menu menu-sm dropdown-content rounded-box z-[1] mt-3 w-52 p-2 shadow">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Categories" asp-action="Index">Category</a></li>
                        <li><a asp-controller="Users" asp-action="Index">Users</a></li>
                    </ul>
                </div>
                <a asp-controller="Home" asp-action="Index" class=" text-2xl font-medium">BusinessApp</a>
            </div>

            <div class="navbar-end hidden lg:flex">
                <ul class="menu menu-horizontal flex items-center">
                    <li><a asp-controller="Jobs" asp-action="Index" class="font-medium">Post Jobs</a></li>
                    <li><a asp-controller="Employers" asp-action="Index" class="font-medium">Employers</a></li>
                    <li><a asp-controller="Blogs" asp-action="Index" class="font-medium">Blogs</a></li>
                    @if (User.Identity!.IsAuthenticated)
                    {
                        <li><a asp-controller="Auth" asp-action="Logout" class="font-medium">Logout</a></li>
                    }
                    else
                    {
                        <li><a asp-controller="Auth" asp-action="Login" class="font-medium">Login</a></li>
                        <li>
                            <a asp-controller="Auth" asp-action="Signup"
                                class="btn bg-[#B561B0] text-white h-[40px] min-h-0 font-medium">
                                Sign up
                            </a>
                        </li>
                    }

                </ul>
            </div>

        </div>
    </div>

    <div class="bg-[#230939] w-full">
        <div class="container mx-auto px-20">
            @RenderSection("FullWidthSection", required: false)
        </div>
    </div>
    <div class="w-full">
        @RenderSection("FullWidthImage", required: false)
    </div>

    <div class="container mx-auto px-20">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <footer class="footer bg-[#230939] text-white px-28 py-10">
        <nav>
            <h6 class="footer-title">OUR PRODUCTS</h6>
            <a class="link link-hover">Job Listings</a>
            <a class="link link-hover">Get a Service </a>
            <a class="link link-hover">Provide a Service</a>
            <a class="link link-hover">Blog</a>
            <a class="link link-hover">Career Guide</a>
            <a class="link link-hover">Salary Calculator</a>
        </nav>
        <nav>
            <h6 class="footer-title">CORPORATE</h6>
            <a class="link link-hover">About Us</a>
            <a class="link link-hover">Special for Employers</a>
            <a class="link link-hover">Special for Job Seekers</a>
            <a class="link link-hover">Contact</a>
        </nav>
        <nav>
            <h6 class="footer-title">SUPPORT AND POLICIES</h6>
            <a class="link link-hover">Agreements</a>
            <a class="link link-hover">Cookie Policy</a>
            <a class="link link-hover">Safe Job Search Guide</a>
            <a class="link link-hover">Help Center</a>
            <a class="link link-hover">Process Guide</a>
        </nav>
        <nav>
            <h6 class="footer-title">Our Projects</h6>
            <a href="https://github.com/onuraydinoglu/AcademyApp" class="link link-hover" target="_blank">AcademyApp</a>
            <a href="https://github.com/nisanurisik/BusinessApp" class="link link-hover" target="_blank">BusinessApp</a>
            <a class="link link-hover">GradeApp</a>
            <a class="link link-hover">FlightApp</a>
            <a class="link link-hover">NewsApp</a>
            <a class="link link-hover">PortfolioApp</a>
        </nav>
        <nav>
            <select class="select select-bordered w-40 text-black">
                <option selected>English</option>
                <option>Turkish</option>
            </select>
            <label class="flex cursor-pointer gap-2 my-3">
                <span class="label-text text-white">Dark Mode</span>
                <input type="checkbox" value="pastel" class="toggle theme-controller" />
            </label>
        </nav>
    </footer>
    <footer class="footer footer-center bg-[#230939] text-white p-4">
        <aside>
            <p>Copyright ©2025 - All right reserved by ONI Industries Ltd</p>
        </aside>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

</html>
