@model User

<div class="flex gap-10 mb-5">
  <div class="w-1/3">
    <div class="p-6 bg-white shadow-lg rounded-lg">
      <div class="flex flex-col justify-center items-center">
        <div>
          <img src="~/img/users/@Model.ProfileImage" alt="" class="rounded-full w-32">
        </div>
        <div class="my-4">

          <h2 class="text-xl font-bold mb-3">@Model.FullName</h2>
          <p class="text-gray-600 text-center">@Model.Email</p>

        </div>

        <a asp-controller="Profile" asp-action="Edit"
          class="btn bg-[#230939] hover:bg-[#230939] text-white font-bold py-2 px-4 rounded h-[40px] min-h-0">Edits</a>
      </div>
    </div>
  </div>
  <div class="w-2/3">
    <h1 class="text-4xl font-bold text-center mb-10">My Profile</h1>
    <div class="grid grid-cols-3 gap-6">

      <div class="shadow-lg bg-white rounded-lg p-6 text-center">
        <div class="my-4">
          <h2 class="text-2xl font-bold text-center">Jobs</h2>
          <p class="text-gray-600">Manage your jobs</p>
        </div>
        <a asp-controller="Jobs" asp-action="Index"
          class="btn bg-[#230939] hover:bg-[#230939] text-white font-bold py-2 px-4 rounded h-[40px] min-h-0">Go
          to Jobs</a>

      </div>

      <div class="shadow-lg bg-white rounded-lg p-6 text-center">
        <div class="my-4">
          <h2 class="text-2xl font-bold text-center">Blogs</h2>
          <p class="text-gray-600">Manage your blogs</p>
        </div>
        <a asp-controller="Blogs" asp-action="Index"
          class="btn bg-[#230939] hover:bg-[#230939] text-white font-bold py-2 px-4 rounded h-[40px] min-h-0">Go
          to Blogs</a>
      </div>


      <div class="shadow-lg bg-white rounded-lg p-6 text-center">
        <div class="my-4">
          <h2 class="text-2xl font-bold text-center">Employers</h2>
          <p class="text-gray-600">Manage your employers</p>
        </div>
        <a asp-controller="Employers" asp-action="Index"
          class="btn bg-[#230939] hover:bg-[#230939] text-white font-bold py-2 px-4 rounded h-[40px] min-h-0">Go
          to Employers</a>
      </div>

    </div>
  </div>

</div>