@model User

<div class="flex gap-10 mt-10 mb-20">
  <div class="w-1/3">
    <div class="p-6 bg-white shadow-lg rounded-lg">
      <div class="flex flex-col justify-center items-center">
        <div>
          <img src="~/img/users/@Model.ProfileImage" alt="" class="rounded-full w-32">
        </div>
        <div class="my-4 text-center">
          <h2 class="text-xl font-bold mb-3">@Model.FullName</h2>
          <p class="text-gray-600 text-center">@Model.Education</p>
          <p class="text-gray-600 text-center">@Model.Skills</p>

        </div>

        <a asp-controller="Profile" asp-action="Edit"
          class="btn bg-[#230939] hover:bg-[#230939] text-white font-bold py-2 px-4 rounded w-40 h-[40px] min-h-0">Edits</a>
      </div>
    </div>
  </div>
  <div class="w-2/3">
    <h1 class="text-4xl font-bold text-center mb-10">My Profile</h1>
    <div class="grid grid-cols-3 gap-6">

      <div class="flex flex-col h-full shadow-lg bg-white rounded-lg p-5 text-center">
        <div class="mb-4">
          <h2 class="text-2xl font-bold text-center mb-2">My Applications</h2>
          <p class="text-gray-600">Track your job applications</p>
        </div>
        <a class="btn bg-[#230939] hover:bg-[#230939] text-white font-bold py-2 px-4 rounded h-[40px] min-h-0 mt-auto"
          asp-controller="Profile" asp-action="MyJobs">View
          Applications</a>
      </div>

      <div class="flex flex-col h-full shadow-lg bg-white rounded-lg  p-5 text-center">
        <div class="mb-4">
          <h2 class="text-2xl font-bold text-center mb-2">Saved Opportunities</h2>
          <p class="text-gray-600">Access your saved job opportunities</p>
        </div>
        <a asp-controller="Profile" asp-action="SavedJobs"
          class="btn bg-[#230939] hover:bg-[#230939] text-white font-bold py-2 px-4 rounded h-[40px] min-h-0 mt-auto">View
          Saved Jobs</a>
      </div>


      <div class="flex flex-col h-full shadow-lg bg-white rounded-lg p-5 text-center">
        <div class="mb-4">
          <h2 class="text-2xl font-bold text-center mb-2">My Blogs</h2>
          <p class="text-gray-600">Manage and review your blogs</p>
        </div>
        <a class="btn bg-[#230939] hover:bg-[#230939] text-white font-bold py-2 px-4 rounded h-[40px] min-h-0 mt-auto">Manage
          Blogs</a>
      </div>

    </div>
  </div>

</div>