@model IEnumerable<SavedJob>

<div class="flex justify-between items-center mt-5">
    <h2>My Saved Jobs List</h2>
    <a asp-controller="Profile" asp-action="Index"
        class="btn bg-[#230939] hover:bg-[#230939] text-white hover:text-white w-40">My Profile</a>
</div>

<div class="divider my-5"></div>

<div class="mb-20">
    <table class="table text-center">
        <thead>
            <tr>
                <th>#</th>
                <th>Full Name</th>
                <th>Job</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var savedJobs in Model)
            {
                <tr>
                    <th>@savedJobs.Id</th>
                    <td>@savedJobs.User?.FullName</td>
                    <td>@savedJobs.Job?.Title</td>
                    <td>
                        <a asp-controller="Jobs" asp-action="Details" asp-route-id="@savedJobs.Job?.Id"
                            class="btn bg-[#B561B0] hover:bg-[#B561B0] text-white h-[40px] min-h-0">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>