@model Job

<div class="flex justify-between items-center mt-5">
  <h2>Add Job</h2>
  @if (User.IsInRole("Admin"))
  {
    <a asp-controller="AdminJobs" asp-action="Index"
      class="btn bg-[#230939] hover:bg-[#230939] text-white hover:text-white">Back to Jobs</a>
  }
  else if (User.IsInRole("Employer"))
  {
    <a asp-controller="Profile" asp-action="MyCompanyJob"
      class="btn bg-[#230939] hover:bg-[#230939] text-white hover:text-white">Back to My Company Jobs</a>
  }
</div>

<div class="divider my-5"></div>

<form asp-controller="AdminJobs" asp-action="Create" method="post" class="mb-20">
  <div class="mt-5 w-[50%] mx-auto space-y-4">

    <label class="form-control">
      <div class="label">
        <span class="label-text">
          <span class="label-text">First Name</span>
        </span>
      </div>
      <input asp-for="Title" type="text" placeholder="Title" class="input input-bordered" />
    </label>
    <span asp-validation-for="Title" class="text-red-500 text-sm"></span>

    <label class="form-control">
      <div class="label">
        <span class="label-text">Description</span>
      </div>
      <textarea asp-for="Description" class="textarea textarea-bordered h-24" placeholder="Job Description"></textarea>
    </label>
    <span asp-validation-for="Description" class="text-red-500 text-sm"></span>

    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">City</span>
      </div>
      <select asp-for="CityId" asp-items="ViewBag.Cities" class="select select-bordered">
        <option disabled selected>Select City</option>
      </select>
      <span asp-validation-for="CityId" class="text-red-500 text-sm"></span>
    </label>

    <div class="grid grid-cols-2 gap-4">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Sector</span>
        </div>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="select select-bordered">
          <option disabled selected>Select Sector</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-red-500 text-sm"></span>
      </label>

      <!-- Specialization Eklenecek -->
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Specialization</span>
        </div>
        <select asp-for="SpecializationId" asp-items="ViewBag.Specializations" class="select select-bordered">
          <option disabled selected>Select Specialization</option>
        </select>
        <span asp-validation-for="SpecializationId" class="text-red-500 text-sm"></span>
      </label>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Job Type</span>
        </div>
        <select asp-for="JobTypeId" asp-items="ViewBag.JobTypes" class="select select-bordered">
          <option disabled selected>Select Job Type</option>
        </select>
        <span asp-validation-for="JobTypeId" class="text-red-500 text-sm"></span>
      </label>

      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Remote Option</span>
        </div>
        <select asp-for="RemoteOptionId" asp-items="ViewBag.RemoteOptions" class="select select-bordered">
          <option disabled selected>Select Remote Option</option>
        </select>
        <span asp-validation-for="RemoteOptionId" class="text-red-500 text-sm"></span>
      </label>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Position Level</span>
        </div>
        <select asp-for="PositionLevelId" asp-items="ViewBag.PositionLevels" class="select select-bordered">
          <option disabled selected>Select Position Level</option>
        </select>
        <span asp-validation-for="PositionLevelId" class="text-red-500 text-sm"></span>
      </label>

      @if (User.IsInRole("Admin"))
      {
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">Company Name</span>
          </div>
          <select asp-for="EmployerId" asp-items="ViewBag.Employers" class="select select-bordered">
            <option disabled selected>Select Company</option>
          </select>
          <span asp-validation-for="EmployerId" class="text-red-500 text-sm"></span>
        </label>
      }
      else if (User.IsInRole("Employer"))
      {
        <label class="form-control w-full max-w-xs">
          <div class="label">
            <span class="label-text">Select Your Company</span>
          </div>
          <select asp-for="EmployerId" asp-items="ViewBag.Employers" class="select select-bordered">
            <option disabled selected>Select Your Company</option>
          </select>
          <span asp-validation-for="EmployerId" class="text-red-500 text-sm"></span>
        </label>
      }
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div class="form-control">
        <label class="label cursor-pointer">
          <span asp-validation-for="IsCompleted" class="label-text">Is Comleted?</span>
          <input asp-for="IsCompleted" type="checkbox" checked="checked" class="checkbox mr-3" />
        </label>
      </div>

      <div class="form-control">
        <label class="label cursor-pointer">
          <span asp-validation-for="IsActive" class="label-text">Is Active?</span>
          <input asp-for="IsActive" type="checkbox" checked="checked" class="checkbox mr-3" />
        </label>
      </div>
    </div>

    <button type="submit" class="btn bg-[#230939] hover:bg-[#230939] text-white hover:text-white my-4 w-full">Add
      Job</button>
  </div>
</form>
