@model Job

<div class="flex justify-between items-center mt-5">
  <h2>Add Job</h2>
  <a asp-controller="AdminJobs" asp-action="Index"
    class="btn bg-[#230939] hover:bg-[#230939] text-white hover:text-white">Back to Jobs</a>
</div>

<div class="divider my-5"></div>

<form asp-controller="AdminJobs" asp-action="Create" method="post" class="mb-20">
  <div class="mt-5 w-[50%] mx-auto space-y-4">

    <label class="form-control">
      <div class="label">
        <span class="label-text">
          <span class="label-text">First Name</span>
        </span>
      </div>
      <input asp-for="Title" type="text" placeholder="Title" class="input input-bordered" />
    </label>
    <span asp-validation-for="Title" class="text-red-500 text-sm"></span>

    <label class="form-control">
      <div class="label">
        <span class="label-text">Description</span>
      </div>
      <textarea asp-for="Description" class="textarea textarea-bordered h-24" placeholder="Job Description"></textarea>
    </label>
    <span asp-validation-for="Description" class="text-red-500 text-sm"></span>

    <label class="form-control">
      <div class="label">
        <span class="label-text">
          <span class="label-text">Location</span>
        </span>
      </div>
      <input asp-for="Location" type="text" placeholder="Location" class="input input-bordered" />
    </label>
    <span asp-validation-for="Location" class="text-red-500 text-sm"></span>

    <div class="flex gap-4">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Category</span>
        </div>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="select select-bordered">
          <option disabled selected>Select Category</option>
        </select>
        <span asp-validation-for="CategoryId" class="text-red-500 text-sm"></span>
      </label>
    </div>

    <div class="flex gap-4">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Job Type</span>
        </div>
        <select asp-for="JobTypeId" asp-items="ViewBag.JobTypes" class="select select-bordered">
          <option disabled selected>Select Job Type</option>
        </select>
        <span asp-validation-for="JobTypeId" class="text-red-500 text-sm"></span>
      </label>
    </div>

    <div class="flex gap-4">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Company Name</span>
        </div>
        <select asp-for="EmployerId" asp-items="ViewBag.Employers" class="select select-bordered">
          <option disabled selected>Select Company</option>
        </select>
        <span asp-validation-for="EmployerId" class="text-red-500 text-sm"></span>
      </label>
    </div>

    <div class="flex gap-4">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Remote Option</span>
        </div>
        <select asp-for="RemoteOptionId" asp-items="ViewBag.RemoteOptions" class="select select-bordered">
          <option disabled selected>Select Remote Option</option>
        </select>
        <span asp-validation-for="RemoteOptionId" class="text-red-500 text-sm"></span>
      </label>
    </div>

    <div class="flex gap-4">
      <label class="form-control w-full max-w-xs">
        <div class="label">
          <span class="label-text">Position Level</span>
        </div>
        <select asp-for="PositionLevelId" asp-items="ViewBag.PositionLevels" class="select select-bordered">
          <option disabled selected>Select Position Level</option>
        </select>
        <span asp-validation-for="PositionLevelId" class="text-red-500 text-sm"></span>
      </label>
    </div>

    <div class="form-control">
      <label class="label cursor-pointer">
        <span asp-validation-for="IsCompleted" class="label-text">Is Comleted?</span>
        <input asp-for="IsCompleted" type="checkbox" checked="checked" class="checkbox" />
      </label>
    </div>

    <div class="form-control">
      <label class="label cursor-pointer">
        <span asp-validation-for="IsActive" class="label-text">Is Active?</span>
        <input asp-for="IsActive" type="checkbox" checked="checked" class="checkbox" />
      </label>
    </div>

    <button type="submit" class="btn bg-[#230939] hover:bg-[#230939] text-white hover:text-white my-4 w-full">Add
      Job</button>
  </div>
</form>
