@model Category

<div class="flex justify-between items-center mt-5">
  <h2>Add Category</h2>
  <a asp-controller="AdminCategories" asp-action="Index"
    class="btn bg-[#230939] hover:bg-[#230939] text-white hover:text-white">Back to Categories</a>
</div>

<div class="divider my-5"></div>

<form asp-controller="AdminCategories" asp-action="Create" method="post" class="mb-20">
  <div class="mt-5 w-[50%] mx-auto space-y-4">

    <label class="form-control">
      <div class="label">
        <span class="label-text">
          <span class="label-text">First Name</span>
        </span>
      </div>
      <input asp-for="Name" type="text" placeholder="Name" class="input input-bordered" />
    </label>

    <button type="submit" class="btn bg-[#230939] hover:bg-[#230939] text-white hover:text-white my-4 w-full">Add
      Category</button>
  </div>
</form>
