@model Category

<form asp-controller="AdminCategories" asp-action="Edit" method="post">
  <input type="hidden" asp-for="Id">

  <div class="mt-5 w-[50%] mx-auto space-y-4">
    <label class="form-control">
      <div class="label">
        <span class="label-text">
          <span class="label-text">First Name</span>
        </span>
      </div>
      <input asp-for="Name" type="text" placeholder="Name" class="input input-bordered" />
    </label>

    <button type="submit" class="btn bg-[#230939] hover:bg-[#230939] text-white hover:text-white my-4 w-full">Update
      Category</button>
  </div>

</form>
